/*Backgrounds*/

#home {
      background: #99d3df;
      position: relative;
      width: 100%;
      overflow: hidden;
      height:900px;
      background-repeat: no-repeat;
      background-position: center center;
      background-attachment: fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

#intro {
      background: #88bbd6;
      position: relative;
      width: 100%;
      overflow: hidden;
      height:800px;
      background-repeat: no-repeat;
      background-position: center center;
      background-attachment: fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

#projects {
      background: #cdcdcd;
      position: relative;
      width: 100%;
      overflow: hidden;
      height:800px;
      background-repeat: no-repeat;
      background-position: center center;
      background-attachment: fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

/*Slants for Backgrounds*/

#home:after {
      content: "";
      position: absolute;
      z-index: 1;
      pointer-events: none;
      bottom: 0;
      left: 0;
      width: 100%;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      border-bottom: 250px solid #88bbd6;
      border-left: 2000px solid transparent;
      z-index: 1;
}

#intro:after {
      content: "";
      position: absolute;
      z-index: 1;
      pointer-events: none;
      bottom: 0;
      left: 0;
      width: 100%;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      border-bottom: 250px solid #cdcdcd;
      border-right: 2000px solid transparent;
      z-index: 1;
}

#projects:after {
      content: "";
      position: absolute;
      z-index: 1;
      pointer-events: none;
      bottom: 0;
      left: 0;
      width: 100%;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      border-bottom: 250px solid #e9e9e9;
      border-left: 2000px solid transparent;
      z-index: 1;
}

/*Text Colors*/

body {
      color: #fdf9f3;
}