/*Backgrounds*/

#home {
/*    background: #99d3df;*/
      background-image: url('../img/sunSet.jpg');
      position: relative;
      width: 100%;
      overflow: hidden;
      height: 750px;
      background-repeat: no-repeat;
/*    Commenting bgposition out keeps background from skipping due to parallax*/
/*    background-position: center center;*/
      background-attachment: fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

#intro {
      background: #88bbd6;
      position: relative;
      width: 100%;
      overflow: hidden;
      height: 600px;
      background-repeat: no-repeat;
      background-position: center center;
      background-attachment: fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

#portfolio {
      background: #cdcdcd;
      position: relative;
      width: 100%;
      overflow: hidden;
      height: 600px;
      background-repeat: no-repeat;
      background-position: center center;
      background-attachment: fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

#knowledge {
      background: #ddd;
      position: relative;
      width: 100%;
      overflow: hidden;
      height: 600px;
      background-repeat: no-repeat;
      background-position: center center;
      background-attachment: fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

#goals {
      background: #F2635F;
      position: relative;
      width: 100%;
      overflow: hidden;
      height: 600px;
      background-repeat: no-repeat;
      background-position: center center;
      background-attachment: fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

/*Slants for Backgrounds*/

#home:after {
      content: "";
      position: absolute;
      z-index: 1;
      pointer-events: none;
      bottom: 0;
      left: 0;
      width: 100%;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      border-bottom: 250px solid #88bbd6;
      border-left: 2000px solid transparent;
      z-index: 1;
}

#intro:after {
      content: "";
      position: absolute;
      z-index: 1;
      pointer-events: none;
      bottom: 0;
      left: 0;
      width: 100%;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      border-bottom: 250px solid #cdcdcd;
      border-right: 2000px solid transparent;
      z-index: 1;
}

#portfolio:after {
      content: "";
      position: absolute;
      z-index: 1;
      pointer-events: none;
      bottom: 0;
      left: 0;
      width: 100%;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      border-bottom: 250px solid #ddd;
      border-left: 2000px solid transparent;
      z-index: 1;
}

#knowledge:after {
      content: "";
      position: absolute;
      z-index: 1;
      pointer-events: none;
      bottom: 0;
      left: 0;
      width: 100%;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      border-bottom: 250px solid #F2635F;
      border-right: 2000px solid transparent;
      z-index: 1;
}

/*Text Colors*/

body {
      color: #fdf9f3;
}

/*NavBar*/

.navbar {
      background-color: transparent;
      background: transparent;
      border-color: transparent;
}

.navbar .container .navbar-header a {
      color: #dee7ef;
}

.collapse .nav li a {
      color: #dee7ef;
}



/*Home Page*/

.homeHeader {
      margin-top: 250px;
      font-family: 'Muli', sans-serif;
      font-size: 3em;
      text-shadow: 0px 2px 8px #000;
}

#quoteId {
      font-size: 2em;
      text-shadow: 0px 2px 8px #000;
}

/*Intro Page*/

.introHeader {
      margin-top: 150px;
}

/*Portfolio Page*/

.portfolioHeader {
      margin-top: 150px;
}

/*Knowledge Page*/

.knowledgeHeader {
      margin-top: 150px;
}

/*Goals Page*/

.goalsHeader {
      margin-top: 200px;
}