
/*Backgrounds*/

#home {
/*    background: #99d3df;*/
      background-image: url('../img/sunSet.jpg');
      position: relative;
      width: 100%;
      overflow: hidden;
      height: 750px;
      background-repeat: no-repeat;
/*    Commenting bgposition out keeps background from skipping due to parallax*/
/*    background-position: center center;*/
      background-attachment: fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

#intro {
      background: #fff;
      position: relative;
      width: 100%;
      overflow: hidden;
      height: 680px;
      background-repeat: no-repeat;
      background-position: center center;
      background-attachment: fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

#portfolio {
      background: #4e4d75;
      position: relative;
      width: 100%;
      overflow: hidden;
      height: 640px;
      background-repeat: no-repeat;
      background-position: center center;
      background-attachment: fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

#knowledge {
      background: white;
      position: relative;
      width: 100%;
      overflow: hidden;
      height: 640px;
      background-repeat: no-repeat;
      background-position: center center;
      background-attachment: fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

#goals {
      background: #F2635F;
      position: relative;
      width: 100%;
      overflow: hidden;
      height: 600px;
      background-repeat: no-repeat;
      background-position: center center;
      background-attachment: fixed;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
}

/*Slants for Backgrounds*/

#home:after {
      content: "";
      position: absolute;
      z-index: 1;
      pointer-events: none;
      bottom: 0;
      left: 0;
      width: 100%;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      border-bottom: 250px solid #fff;
      border-left: 2000px solid transparent;
      z-index: 1;
}

#intro:after {
      content: "";
      position: absolute;
      z-index: 1;
      pointer-events: none;
      bottom: 0;
      left: 0;
      width: 100%;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      border-bottom: 250px solid #4e4d75;
      border-right: 2000px solid transparent;
      z-index: 1;
}

#portfolio:after {
      content: "";
      position: absolute;
      z-index: 1;
      pointer-events: none;
      bottom: 0;
      left: 0;
      width: 100%;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      border-bottom: 250px solid white;
      border-left: 2000px solid transparent;
      z-index: 1;
}

#knowledge:after {
      content: "";
      position: absolute;
      z-index: 1;
      pointer-events: none;
      bottom: 0;
      left: 0;
      width: 100%;
      -webkit-background-size: cover;
      -moz-background-size: cover;
      -o-background-size: cover;
      background-size: cover;
      border-bottom: 250px solid #F2635F;
      border-right: 2000px solid transparent;
      z-index: 1;
}

/*Text Colors*/

body {
      color: #fdf9f3;
}

/*NavBar*/

.navbar {
      background-color: #FFA812;
      background: #FFA812;
      border-color: transparent;
}

.navbar .container .navbar-header a {
      color: #dee7ef;
}

.collapse .nav li a {
      color: #dee7ef;
      font-size: 2em;
}



/*Home Page*/

.homeHeader {
      margin-top: 250px;
      font-family: 'Muli', sans-serif;
      font-size: 3em;
      text-shadow: 0px 2px 8px #000;
}

#quoteId {
      font-size: 2em;
      text-shadow: 0px 2px 8px #000;
}

/*Intro Page*/

#intro {
      color: #4e4d75;
      margin-top: 10px;
}

.introHeader {
      font-size: 3em;
}

.introPara {
      font-size: 1.7em;
      border-top: 2px solid #FFA812;
      padding-top: 10px;
}

#profilePic {

      max-width: 80%;
      border-radius: 5% 40%;
}

/*Portfolio Page*/

.portText {
      margin-top: 70px;
      padding-right: 150px;
      position: relative;
}

#portHeader {
      font-size: 3em;
}

#portPara {
      font-size: 1.7em;
}

#sites a {
      width: 500px;
      height: 500px;
      overflow:hidden;
      display:inline-block;
      background-color: #FFA812;
      background-position: center;
      background-attachment: fixed;
      position: relative;
      top: -100px;
      margin: 0;

      -webkit-backface-visibility:hidden; /* to reduce pixelisation on borders in chrome */
    
      -webkit-transform-origin:0 0;
      -ms-transform-origin:0 0;
      transform-origin:0 0;
        
      -webkit-clip-path: polygon(50% 20%, 0% 100%, 100% 100%);
      clip-path: polygon(50% 20%, 0% 100%, 100% 100%);
      
      -webkit-box-shadow: 0px 13px 20px 0px rgba(0,0,0,0.75);
      -moz-box-shadow: 0px 13px 20px 0px rgba(0,0,0,0.75);
      box-shadow: 0px 13px 20px 0px rgba(0,0,0,0.75);

}

#apps a {
      width: 400px;
      height: 400px;
      overflow:hidden;
      display:inline-block;
      background-color: #fcf567;
      background-position: center;
      background-attachment: fixed;
      position: relative;
      left: 50px;
      top: -505px;

    
      -webkit-backface-visibility:hidden; /* to reduce pixelisation on borders in chrome */
    
      -webkit-transform-origin:0 0;
      -ms-transform-origin:0 0;
      transform-origin:0 0;
        
      -webkit-clip-path: polygon(50% 20%, 0% 100%, 100% 100%);
      clip-path: polygon(50% 20%, 0% 100%, 100% 100%);
}

#github a {
      width: 300px;
      height: 300px;
      overflow:hidden;
      display:inline-block;
      background-color: white;
      background-position: center;
      background-attachment: fixed;
      position: relative;
      top: -810px;
      left: 100px;
    
      -webkit-backface-visibility:hidden; /* to reduce pixelisation on borders in chrome */
    
      -webkit-transform-origin:0 0;
      -ms-transform-origin:0 0;
      transform-origin:0 0;
    
      -webkit-clip-path: polygon(50% 20%, 0% 100%, 100% 100%);
      clip-path: polygon(50% 20%, 0% 100%, 100% 100%);
}

/*Knowledge Page*/

#knowledge {
      color: #4e4d75;
}

.knowledgeText {
      margin-top: 60px;
      padding-left: 150px;
}

.knowledgeHeader {
      font-size: 3em;
}

.knowledgePara {
      font-size: 1.7em;
}


/*For Skills Chart*/

      .progress{
            width: 200px;
            height: 250px;
            margin: 40px 10px 0px 10px;
      }
      .progress .track, .progress .fill{
            fill: rgba(0, 0, 0, 0);
            stroke-width: 50;
            transform: translate(290px, 800px)rotate(-120deg);
      }
      .progress .track{
            stroke: #d3d3d3;
      }
      .progress .fill {
            stroke: rgb(255, 255, 255);
            stroke-linecap: round;
            stroke-dasharray: 2160;
            stroke-dashoffset: 2160;
            transition: stroke-dashoffset 1s;
      }
      .progress.blue .fill {
            stroke: #4e4d75;
      }
      .progress .value, .progress .text {
            font-family: 'Open Sans';
            fill: #000;
            text-anchor: middle;
      }
      .progress .value {
            font-size: 180px;
      }
      .progress .text {
            font-size: 120px;

      }
      .noselect {
            -webkit-touch-callout: none;
            -webkit-user-select: none;
            -khtml-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            cursor: default;
            box-shadow: none;
      }

      .progress {
            background-color: white;
      }

/*Goals Page*/

.goalsHeader {
      margin-top: 200px;
}

/*Media Queries*/

@media (min-width: 992px) and (max-width: 1395px) {
      #intro {
            height: 800px;
      }
      #knowledge {
            height: 850px;
      }
}

@media (max-width: 991px) {
      #intro {
            height: 1000px;
      }
      #profilePic {
            margin-top: 30px;
            width: 50%;
      }
      #portfolio {
            height: 1000px;
      }
      .portText {
            top: -700px;
            margin-top: 0px;
            padding-right: 0px;
      }
      .triangles {
            position: relative;
            top: -50px;
            -ms-transform: scale(0.8,0.8); /* IE 9 */
            -webkit-transform: scale(0.8,0.8); /* Safari */
            transform: scale(0.8,0.8);
      }
      #knowledge {
            height: 800px;
      }
      .knowledgeText {
            padding-left: 0px;
      }
}

@media (max-width: 698px) {
      #knowledge {
            height: 1200px;
      }
}

@media (max-width: 560px) {

      .triangles {
            top: -300px;
            -ms-transform: scale(0.5,0.5); /* IE 9 */
            -webkit-transform: scale(0.5,0.5); /* Safari */
            transform: scale(0.5,0.5);
      }
      #knowledge {
            height: 1500px;
      }
}







